#header-box {
    text-align: left;
    #header-page {
        background-color: rgba(144, 66, 223, 1);
        margin-top: 0%;
        border-top-left-radius: 120px;
        border-top-right-radius: 120px;
        padding: 20px;
        position: fixed;
        top: -1px;
        padding-left: 150px;
        padding-right: 195px;
    }
    .text{
       text-align: left;
       left: -1px;
    }
}