.password-box {
    border-color: black 15px;
    .passwords {
        align-items: center;
        margin-left: 100px;
        padding-left: 250px;
    }
    #new-pass{
        color: black;
        padding-left: 392px;
    }
    #change-btn{
        margin-top: 33px;
        margin-left: 330px;
        width: 300px;
        border-radius: 10px;
    }
    .text {
        color: black;
        text-align: center;
    }

}