/* #redirect-button-divs {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    height: 48px;
    width: 100%;
} */

#confirm-button {
    margin-right: 36px;
    width: 100px;
    border-radius:  15px;
    background-color: rgba(144, 66, 223, 1);
    font-weight: 600;
    color: white;
    outline: none;
}