#forgot-password-page { 
    height: 932px;
    width: 430px;
    background-color: white;
    border-radius: 20px;
}

#title-div {
    height: 200px;
    width: 100%;
    border: 1px solid transparent;
}

#title {
    margin: 0;
    margin-top: 80px;
    color: black;
    font-size: 28px;
    margin-left: 32px;
    font-weight: 600;
}

#subtitle {
    color: black;
    font-size: 15px;
    margin-left: 32px;
    font-weight: 400;
    line-height: 24px;
}

#image-div {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
}

#forgot-password-image {
    width: 80%;
    height: 100%;
}

#email-title {
    color: black;
    font-size: 18px;
    margin-left: 36px;
    font-weight: 550;
}

#email-div {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
}

#redirect-button-divs {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    height: 48px;
    width: 100%;
}


#confirm-button {
    margin-right: 36px;
    width: 100px;
    border-radius:  15px;
    background-color: rgba(144, 66, 223, 1);
    font-weight: 600;
    color: white;
    outline: none;
}

#confirm-button:hover {
    transition: 0.2s ease-in;
    background-color: rgb(154, 91, 216);
}

