#reset-password-page {
    height: 932px;
    width: 430px;
    background-color: white;
    border-radius: 20px;
}
#title-div {
    height: 200px;
    width: 100%;
}

#fields-div {
    margin-top: 36px;
}

#new-password {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-left: 32px;
    color: black;
    margin-bottom: 8px;
}
#reset-button {
    margin-top: 280px;
    width: 85%;
    margin-left: 32px;
    height: 60px;
    background-color: rgba(144, 66, 223, 1);
    outline: none;
}

#reset-button:hover {
    transition: 0.1s ease-out;
    background-color: rgb(154, 91, 216);
}

#uuid-p {
    color: black;
}